html{
    font-family: 'Space Mono', monospace;
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
}
.app{
    height: 100vh;
    padding-bottom: 75px;
}
nav{
    width: 327px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 31px;
}
.name{
    margin: 0;
}
.themeButton{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    border: none;
    background: none;
    display: flex;
    align-items: center;
}
.sun-moon{
    margin-left: 16px;
}
.formInput{
    border-radius: 15px;
    width: 327px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    display: grid;
    grid-template-columns: auto 190px auto;
    grid-template-rows: 60px 0;
    align-content: center;
}
.notValid{
    color: #F74646;
    font-size: 13px;
    font-weight: 700;
    margin: auto;
}
.searchImg{
    margin: auto;
    margin-left: 16px;
    grid-row: 1/3
}
.lightMode, .darkMode{
    font-family: 'Space Mono', monospace;
    font-size: 13px;
    border: none;
    background: none;
}
.lightMode::placeholder{
    color: #4B6A9B;
}
.darkMode::placeholder{
    color: #ffffff;
}
.lightMode:hover, .darkMode:hover{
    border: none;
}
.lightMode:focus, .darkMode:focus{
    border: none;
    outline: none;
    grid-row: 1 / 3;
}
.formButton{
    background-color: #0079FF;
    border: none;
    width: 84px;
    height: 46px;
    margin: auto;
    margin-right: 7px;
    border-radius: 10px;
    color: white;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    
    grid-area: 1 / 3 / 3 / 4;
}
.formButton:hover{
    background-color: #60ABFF;
}
.userSection{
    width: 327px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    border-radius: 15px;
}
.topInfo{
    display: grid;
    grid-template-columns: 70px auto;
    column-gap: 19px;
    margin-left: 24px;
    padding-top: 32px;
}
.userImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    grid-row: 1/4;
}

.userName{
    font-size: 16px;
    margin: 0;
}
.login{
    color: #0079FF;
    font-size: 13px;
    margin: 0;
}
.date{
    margin: 0;
}
.date, .bio{
    font-weight: 400;
    font-size: 13px;
}
.bio{
    grid-column: 1 / 3;
    margin-top: 33px !important; 
}
.stats{
    width: 279px;
    height: 85px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 30px;
    text-align: center;
}
.statName{
    font-size: 11px;
    font-weight: 400;
    margin: 0;
}
.statNum{
    margin: 0;
    font-size: 16px;
}

.nA, .location{
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}
.links{
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 15px;
    row-gap: 15px;
    margin-left: 24px;
    margin-top: 24px;
    padding-bottom: 49px;
    font-size: 13px;
}
.logo{
    margin: auto;
}
@media (min-width: 768px){
    nav{
        width: 573px;
        padding-top: 140px;
    }
    .formInput{
        width: 573px;
        height: 69px;
        margin-top: 36px;
        grid-template-columns: 55px 320px 100px 167px;
        grid-template-rows: auto auto auto;
    }
    .lightMode, .darkMode{
        font-size: 18px;
    }
    .notValid{
        grid-column: 3/4;
    }
    .formButton{
        grid-area: 1 / 4 / 2/ 5;
        margin: 0;
    }
    .userSection{
        width: 573px;
        margin-top: 24px;
    }
    .topInfo{
        display: grid;
        grid-template-columns: 120px auto;
        column-gap: 41px;
        margin-left: 40px;
        padding-top: 40px;
    }
    .userImg{
        width: 117px;
        height: 117px;
    }
    .userName{
        font-size: 26px;
    }
    .login{
        font-size: 16px;
    }
    .date, .bio{
        font-size: 15px;
    }
    .bio{
        margin-top: 24px !important;
    }
    .stats{
        width: 493px;
        margin-top: 32px;
        justify-content: center;
        column-gap: 90px;
        text-align: left;
    }
    .statName{
        font-size: 13px;
    }
    .statNum{
        font-size: 22px;
    }
    .links{
        grid-template-columns: 20px auto 20px auto;
        margin-left: 40px;
        margin-top: 30px;
        font-size: 15px;
    }
    .twit{
        grid-area: 1 / 3 / 2 / 4 ;
    }
    .twitName{
        grid-area: 1 / 4 / 2 / 5 ;
    }
}

@media (min-width: 1440px){
    nav{
        width: 730px;
        padding-top: 144px;
    }
    .formInput{
        width: 730px;
        grid-template-columns: 55px 480px 100px 167px;
    }
    .userSection{
        width: 730px;
    }
    .topInfo{
        grid-template-columns: 120px auto auto;
        
    }
    .userImg{
        grid-row: 1/5;
    }
    .date{
        grid-area: 1 / 3 / 2 / 4;
        margin: auto;
    }
    .bio{
        grid-column: 2 / 4;
        margin-top: 20px !important;
    }
    .stats{
        width: 480px;
        align-content: center;
        margin-left: 202px;
    }
    .links{
        margin-left: 202px;
        margin-top: 37px;
    }
}